<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.pcms.model.dept.mapper.DeptMapper">
<!--id和mapper接口中的方法名对应，resultType使用mybatis.xml中的别名 -->
   <resultMap type="com.pcms.model.dept.vo.DeptVO" id="resultMap">
        <result property="id" column="id"/>
        <result property="deptNo" column="dept_no"/>
        <result property="deptName" column="dname"/>
        <result property="pNo" column="p_no"/>
        <result property="deptDesc" column="ddesc"/>
        <result property="createTime" column="createtime"/>
        <result property="updateTime" column="updatetime"/>
    </resultMap>

    <select id="getAllDepts" resultMap="resultMap">
        <![CDATA[
            select * from tr_dept
        ]]>
    </select>
    <select id="queryDeptByProperty" resultMap="resultMap" parameterType="java.util.Map">  
              select * from (
            select rownum rn, id,dept_no,dname,p_no,ddesc,to_char(createtime,'yyyy-mm-dd hh24:mi:ss')createtime,to_char(updatetime,'yyyy-mm-dd hh24:mi:ss')updatetime from tr_dept where 1=1 
        <if test="queryName != null and queryName != ''">  
            AND dname like #{queryName}
        </if> 
        <if test="createTime!=null and createTime!=''">
            and createtime >= to_date(#{createTime},'yyyy-MM-dd')
        </if>
           <![CDATA[  )a where a.rn>(#{curPage}-1)*#{pageSize} and a.rn<=#{curPage}*#{pageSize} ]]>
    </select>

    <!-- 自动生成id策略 -->
    <insert id="addDept" parameterType="dept">
        insert into tr_dept(dept_no,dname,p_no,ddesc,createtime,updatetime)
        values(#{deptNo}, #{deptName}, #{pNo}, #{deptDesc},sysdate,sysdate)
    </insert>

    <!-- 根据selectKey语句生成主键 -->
    <!-- <insert id="addAccount4Key" parameterType="user">
        <selectKey keyProperty="user_id" order="BEFORE" resultType="int">
            select cast(random() * 10000 as Integer) a from #Tab
        </selectKey>
        insert into user(user_id, status, username, password)
        values(#{userId}, #{status}, #{username}, #{password})
    </insert>
 -->
    <update id="editDept" parameterType="dept">
        update tr_dept set
        dname = #{deptName},
        dept_no = #{deptNo},
        p_no = #{pNo},
        ddesc = #{deptDesc},
        updatetime=sysdate
        where id = #{id}
    </update>

    <delete id="removeDept" parameterType="dept">
        delete from tr_dept where id = #{id}
    </delete>
</mapper>


