<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="com.pcms.model.user.dao.mapper.UserMapper">
<!--id和mapper接口中的方法名对应，resultType使用mybatis.xml中的别名 -->
   <resultMap type="com.pcms.model.user.vo.UserVO" id="userResultMap">
        <result property="userId" column="userid"/>
        <result property="userName" column="username"/>
        <result property="userPass" column="userpass"/>
        <result property="userDept" column="userdept"/>
        <result property="userRole" column="userrole"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="createtime"/>
        <result property="updateTime" column="updatetime"/>
    </resultMap>

    <select id="getAllUsers" resultMap="userResultMap">
        <![CDATA[
            select * from t_user
        ]]>
    </select>
    <!--   Oracle写法
    <select id="queryUsers" resultMap="userResultMap" parameterType="java.util.Map"> 
    select * from (
            select rownum rn,userid,username,userpass,userdept,userrole,email,phone,to_char(createtime,'yyyy-mm-dd hh24:mi:ss')createtime,to_char(updatetime,'yyyy-mm-dd hh24:mi:ss')updatetime from t_user where 1=1 
        <if test="queryName != null and queryName != ''">  
            AND USERNAME like #{queryName}
        </if> 
        <if test="createTime!=null and createTime!=''">
            and createtime >= to_date(#{createTime},'yyyy-MM-dd')
        </if>
      <![CDATA[  )a where a.rn>(#{curPage}-1)*#{pageSize} and a.rn<=#{curPage}*#{pageSize} ]]>
    </select>
 -->
 <!-- Mysql写法 -->
     <select id="queryUsers" resultMap="userResultMap" parameterType="java.util.Map"> 
     	select * from (
            select userid,username,userpass,userdept,userrole,email,phone,date_format(createtime,'%Y-%m-%d %T')createtime,date_format(updatetime,'%Y-%m-%d %T')updatetime from t_user where 1=1 
       		 <if test="queryName != null and queryName != ''">  
           		 AND USERNAME like #{queryName}
       		 </if> 
        	<if test="createTime!=null and createTime!=''">
            	and createtime >= to_date(#{createTime},'yyyy-MM-dd')
        	</if>
       	<![CDATA[  )a limit #{rowsBegin},#{pageSize}]]>
    </select>
    <!-- userResultMap是user-resultmap.xml中定义的resultmap -->
    <select id="getUserById" parameterType="string" resultMap="userResultMap">
        <![CDATA[
            select * from t_user where userId = #{userId}
        ]]>
    </select>

    <!-- userResultMap是user-resultmap.xml中定义的resultmap，通过namespace.id找到 -->
    <select id="findByUsername" parameterType="string" resultMap="userResultMap">
        <![CDATA[
            select * from t_user where userName = #{userName}
        ]]>
    </select>

    <!-- 自动生成id策略 -->
    <insert id="addUser" parameterType="user">
        insert into t_user(userName, userPass, userDept,userRole,email,phone,createtime,updatetime)
        values(#{userName}, #{userPass}, #{userDept}, #{userRole}, #{email}, #{phone},sysdate(),sysdate())
    </insert>

    <!-- 根据selectKey语句生成主键 -->
    <!-- <insert id="addAccount4Key" parameterType="user">
        <selectKey keyProperty="user_id" order="BEFORE" resultType="int">
            select cast(random() * 10000 as Integer) a from #Tab
        </selectKey>
        insert into user(user_id, status, username, password)
        values(#{userId}, #{status}, #{username}, #{password})
    </insert>
 -->
    <update id="editUser" parameterType="user">
        update t_user set
        userName = #{userName},
        userPass = #{userPass},
        userDept = #{userDept},
        userRole = #{userRole},
        email = #{email},
        phone = #{phone},
        updatetime=sysdate()
        where userId = #{userId}
    </update>

    <delete id="removeUser" parameterType="user">
        delete from t_user where userId = #{userId}
    </delete>
</mapper>


